/* reset  */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
ZAGADNIENIE PONADPROGRAMOWE

Rekomendowany zestaw właściwości, które pozwalają na ukrycie tekstu w taki sposób,
że będzie niewidoczny do standardowego użytkownika, a czytniki ekranowe wciąż będą go czytać.

Więcej na ten temat: https://webaim.org/techniques/css/invisiblecontent/
*/
.screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/*
Sekcja pomocnicza, aby zwizualizować pozycje głównych bloków strony. Będzie usunięta w następnych krokach.
*/


.page-content {
    background-color: ;
}

.page-footer {
    background-color: RGB(32, 11, 42);
}

.content-section {
    background-color: RGB(24, 4, 32);
}
.content-section:nth-child(odd) {
    background-color: RGB(37, 13, 49);
}
/*
Koniec sekcji pomocniczej
*/


.page-header {
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 1;
}

.page-footer {
    position: fixed;
    bottom: 50px;
    left: 50px;
}

/*
Lewy margines ustawiony na kontenerze z główną zawartością strony sprawia,
że nie będzie ona nachodzić na nagłówek i stopkę niezależnie od pozycji paska przewijania.
Na projekcie graficznym sekcja menu ma szerokość około 170px i jest oddalona od krawędzi ekranu
o 50px, więc można założyć, że 220px marginesu będzie wartością stosunkowo bezpieczną.
Z kolei spady (padding) nadane na kontener wyznaczają minimalną odległość, na jaką będzie oddalona
treść strony od otaczających ją granic kontenera (wartość "0 10%" jest
skrótem od padding-top: 0, padding-bottom: 0, padding-left: 10%, padding-right: 10%).
Właściwość "text-align: right" przykleja zawartość do prawej strony
(oddziałuje na elementy, które są elementami inline'owymi, np. tekst, znaczniki <a>, <span> czy elementy z nadanym stylem "display: inline-block").
*/
.content-section {
    /* margin-left: 220px; */
    padding: 0 5% 0 30%;
}

/*
Projekt graficzny zakłada, że każda sekcja strony będzie wypełniać całą wysokość okna przeglądarki
lub więcej, jeśli zawartość danej sekcji jest wyższa. Dlatego świetnym rozwiązaniem
będzie użycie jednostki "vh", która oznacza 1% wysokości okna przeglądarki z właściwością "min-height",
która wymusza wysokość elementu na zadaną wartość lub wyższą.
*/
.content-section {
    min-height: 100vh;
}


/* ------------------------------------------------------------------------------------ */
/* Starts  */
/* ------------------------------------------------------------------------------------ */

/* General  */

.content-section__header{
    padding: 7% 0 3% 0 ;
}

body{
    font-family:  "Helvetica", "OpenSans";
}


h1 {
    font-weight: bold; 
    font-size:28px;
    text-align:Right; 
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color:#EC008C;
}

h2 {
    font-weight: bold; 
    font-size:15px;
    text-align:left; 
    letter-spacing: 3.8px;
    text-transform: uppercase
}


/* Nav  */
.page-navigation__items{
    margin-top:20px;
}

.page-navigation__item a{
    text-transform: uppercase;
    color: rgb(159, 11, 107);
    line-height: 30px;
    font-weight: 700;
    font-size:15px;
}

.page-navigation__item a:hover
{
    color:RGB(226, 0, 134);
}
/* Home  */
.band-members{
    display: flex;
}

.band-members__image {
    margin-top: 250px;
}

.band-members__name{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:15px;
    font-weight: bold;
    color: rgba(204, 200, 255, 0.8);
    margin-bottom: 0;
}

.band-members__desc{
    margin-top:5px;
    letter-spacing: 4px;
    font-size:13px;
    font-weight: light;
    color: rgba(204, 200, 255, 0.5) 
}




/* About */
.about-section, .video-section{
    position: relative;
}
.about-section__image{
    width:45%;
    position: absolute;
    right: 5%;
    top:20%;
    z-index: 2;
    border-top: 4px solid #EC008C;
}

.about-section__desc{
    position: absolute;
    left: 30%;
    top:50%;
    width:26%;
    padding: 2.2% ;
    z-index: 3;
    border-bottom: 4px solid #EC008C;
    background-color: RGB(37, 13, 49);
    display: inline-block;
}

.about-section__desc-header{
    margin-bottom:0;
    font-weight: 600;
    font-size:13px;
    letter-spacing: 3px;
    color: rgba(204, 200, 255, 1);
}

.about-section__desc-details{
    font-size:13px;
    letter-spacing: 2px;
    color: rgba(204, 200, 255, 0.6);
}

/* Concerts grid  */

.concerts { 
    padding-left: 100px;
    display: grid;
    grid-template-columns: 55% 55%;
    grid-template-rows:  45% 45%;
    grid-gap: 20px;
    align-items: stretch;
    }
article.concerts__item img  {
    border-bottom: 4px solid #EC008C;
    max-width: 100%;
  }

.concerts__info{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.concerts__date{
    margin-bottom:0;
    font-weight: bold;
    font-size:15px;
    letter-spacing: 5px;
    color: rgba(204, 200, 255, 0.8)
}

.concerts__location{
    margin-top:0;
    font-size:13px;
    letter-spacing: 5px;
    color: rgba(204, 200, 255, 0.5)
}
/* Photos grid */

.gallery { 
    /* margin-left:?; */
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-gap: 15px;
    align-items: stretch;
    }
li .gallery__image {
    border-top: 4px solid #EC008C;
    width: 100%;
    height: 170px;
    object-fit: cover;
  }

  /* Video  */

  iframe {

    position: absolute;
    right: 5%;
    top: 15%;
    margin-top:3%;
    z-index: 2;
    border-top: 4px solid #EC008C;
}

/* Contact  */

.contact-section__info{
    display:flex;
    align-items: center;
}

address {
    margin-left: 10%;
    font-size:13px;
    letter-spacing: 2px;
    color: rgba(204, 200, 255, 0.6);
    font-weight: 500;
    font-style: normal;
}

.form {
    margin-top: 4%;
    font-size:13px;
    letter-spacing: 2px;
    color: rgba(204, 200, 255, 0.8);
    font-weight: 500;
    font-style: normal;
}
label { 
    margin: 5px 0;
}
input, label {
    display:block;
}

.form__input {
    background-color: RGB(44, 25, 53);
    border:transparent ;
    border-radius: 5px;
    padding: 18px; 
    width: 300px;
    height: 10px;
    color: rgba(204, 200, 255, 0.8);
    margin-bottom:20px;
}

.button{
    border:transparent ;
    border-radius: 5px;
    background-color: RGB(44, 25, 53);
    padding: 9px; 
    width: 130px;
    text-transform: uppercase;
    color: rgba(204, 200, 255, 0.8);
}

button:hover{
    background-color: RGB(60, 43, 77);
}

/* Footer */

.page-footer {
    background-color: RGB(32, 11, 42);
    padding: 20px;
    border-radius: 25px;
}

.social-links a:hover{
    color:RGB(226, 0, 134);
} 
.social-links a{
    color: rgb(159, 11, 107);
    text-decoration: none;

}

.social-links {
    font-size: 20px;
    text-align: center;
    line-height: 1.7;
}
