/* reset  */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Screen readers */
.screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


/* Every Section has 100% height */
.content-section {
    min-height: 100vh;
}


/* General  */
.content-section {
    padding: 0 5% 0 20%;
}

.content-section__header{
    padding: 10% 0 4% 0 ;
}

body{
    font-family:  "Helvetica", "OpenSans";
    background-image: url(/starter-pack/images/background.svg);
    background-attachment: fixed;
    background-size: cover;
}


h1 {
    font-weight: bold; 
    font-size:28px;
    text-align:Right; 
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color:#EC008C;
}

h2 {
    font-weight: bold; 
    font-size:15px;
    text-align:left; 
    letter-spacing: 3.8px;
    text-transform: uppercase
}


/* Nav  */
.page-header {
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 1;
}

.page-navigation__items{
    margin-top:20px;
}

.page-navigation__item a{
    text-transform: uppercase;
    color: rgb(159, 11, 107);
    line-height: 30px;
    font-weight: 700;
    font-size:15px;
    letter-spacing: 4px;
}

.page-navigation__item a:hover
{
    color:RGB(226, 0, 134);
}

/* Home  */
.band-members{
    display: flex;
}

.band-members__image {
    margin-top: 300px;
}

.band-members__name{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:15px;
    font-weight: bold;
    color: rgba(204, 200, 255, 0.8);
    margin-bottom: 0;
}

.band-members__desc{
    margin-top:5px;
    letter-spacing: 4px;
    font-size:13px;
    font-weight: 300;
    color: rgba(204, 200, 255, 0.5) 
}



/* About */
.about-section, .video-section{
    position: relative;
}
.about-section__image{
    width:45%;
    position: absolute;
    right: 5%;
    top:20%;
    z-index: 2;
    border-top: 3px solid #EC008C;
}

.about-section__desc{
    position: absolute;
    left: 30%;
    top:50%;
    width:26%;
    padding: 2.2% ;
    z-index: 3;
    border-bottom: 3px solid #EC008C;
    background-color: RGB(37, 13, 49);
    display: inline-block;
}

.about-section__desc-header{
    margin-bottom:30px;
    font-weight: 600;
    font-size:13px;
    letter-spacing: 4px;
    color: rgba(204, 200, 255, 1);
}

.about-section__desc-details{
    font-size:13px;
    letter-spacing: 2px;
    color: rgba(204, 200, 255, 0.6);
    font-weight: lighter;
}

/* Concerts grid  */

.concerts { 
    padding-left: 25%;
    padding-right: 100px;
    display: grid;
    grid-template-columns: 55% 55%;
    grid-gap: 40px;
    align-items: stretch;
    }
article.concerts__item img  {
    border-bottom: 3px solid #EC008C;
    max-width: 100%;
  }

.concerts__info{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.concerts__date{
    margin-bottom:3px;
    font-weight: bold;
    font-size:15px;
    letter-spacing: 5px;
    color: rgba(204, 200, 255, 1)
}

.concerts__location{
    margin-top:0;
    font-size:13px;
    letter-spacing: 5px;
    color: rgba(204, 200, 255, 0.5)
}

  /* Video  */

  iframe {
    position: absolute;
    right: 5%;
    top: 15%;
    margin-top:3%;
    z-index: 2;
    border-top: 3px solid #EC008C;
}

/* Photos grid */

.gallery { 
    margin-left:10%;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-gap: 25px;
    align-items: stretch;
    }
li .gallery__image {
    border-top: 3px solid #EC008C;
    width: 100%;
  }


/* Contact  */

.contact-section__info{
    display:flex;
    align-items: center;
    margin-left:10%;
}

address {
    margin-left: 10%;
    font-size:13px;
    letter-spacing: 2px;
    color: rgba(204, 200, 255, 0.6);
    font-weight: 500;
    font-style: normal;
}

.form {
    margin-left:10%;
    margin-top: 4%;
    font-size:13px;
    letter-spacing: 2px;
    color: rgba(204, 200, 255, 0.8);
    font-weight: 500;
    font-style: normal;
}
label { 
    margin: 10px 0;
}
input, label {
    display:block;
}

.form__input {
    background-color: #44204c;
    border:transparent ;
    border-radius: 5px;
    padding: 18px; 
    width: 300px;
    height: 10px;
    color: rgba(204, 200, 255, 0.8);
    margin-bottom:30px;
}

.button{
    border:transparent ;
    border-radius: 5px;
    background-color:#44204c;
    padding: 9px; 
    width: 130px;
    text-transform: uppercase;
    color: rgba(204, 200, 255, 0.8);
}

button:hover{
    background-color: RGB(60, 43, 77);
}

/* Footer */

.page-footer {
    background-color: RGB(32, 11, 42);
    padding: 20px;
    border-radius: 25px;
    position: fixed;
    bottom: 50px;
    left: 50px;
}

.social-links a:hover{
    color:RGB(226, 0, 134);
} 
.social-links a{
    color: rgb(159, 11, 107);
    text-decoration: none;

}

.social-links {
    font-size: 20px;
    text-align: center;
    line-height: 1.7;
}
